<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dannyang27.sportpoints">

    <uses-permission android:name="android.permission.INTERNET" />
    >
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.inicioApp.alta" />
        <activity android:name=".activities.inicioApp.alta2" />
        <activity android:name=".activities.inicioApp.PerfilAlta" />
        <activity android:name=".activities.Deportes" />
        <activity android:name=".activities.Correcto" />
        <activity android:name=".activities.inicioApp.TipoUsuario" />
        <activity android:name=".activities.inicioApp.Login" />
        <activity android:name=".activities.Deportes$Principal" />
        <activity android:name=".activities.jugador.ConfiguracionPerfil" />
        <activity android:name=".activities.OpcionesChoser" />
        <activity android:name=".activities.equipo.EquipoInfo" />
        <activity android:name=".activities.evento.EventoInfo"></activity>
    </application>

</manifest>